# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django database
db.sqlite3
*.sqlite3
*.sqlite3-journal

# Django generated/static/media
staticfiles/
media/

# Environment variables
.env
*.env

# VS Code
.vscode/

# Logs
*.log
